body {
    background-color: black;
}

#beginning {
    height: 200vh;
    background-color: black;
}

#building {
    display: block;
    position: absolute;
    left: -3%;
    top: 10%;
    height: 400vh;
    width: 220vh;
    margin: 0;
}

@font-face {
    font-family: 'Spooky';
    src: url('font/Creepster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#titleText {
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 15%;
    top: 60%;
    color: rgb(119, 18, 18);
    font-size: 75px;
    border: 5px solid white;
    font-family: 'Spooky';
    text-shadow: #e3a5a7 2px 0 10px;
}

#ghost1 {
    display: flex;
    position: sticky;
    height: 100px;
    width: 100px;
    top: 25%;
    z-index: 2;
    opacity: 0.5;
    transform: scaleX(-1);
    transition: transform 0.5s ease;
}

#ghost2 {
    display: flex;
    position: sticky;
    height: 150px;
    width: 150px;
    top: 10%;
    left: 70%;
    z-index: 2;
    opacity: 0.5;
    transition: transform 0.5s ease;
}

#ghost1:hover {
    transform: translateX(50px) scaleX(-1);
    opacity: 0.2;
}

#ghost2:hover {
    transform: translateX(-75px) translateY(50px);
    opacity: 0.2;
}

#ghostDrop {
    height: 100vh;
}

#pumpkin1 {
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 356vh;
    left: 47%;
    z-index: 1;
    transition: transform 0.5s ease;
}

#pumpkinTalk {
    display: flex;
    position: absolute;
    top: 350vh;
    left: 47%;
    z-index: 1;
    color: white;
    font-size: 20px;
    font-family: 'Spooky';
    opacity: 0;
    transition: 0.5s ease;
}

#pumpkin1:hover {
    transform: translateY(50px) rotate(80deg);
}

#pumpkinTalk:hover {
    opacity: 1;
}

#room2Title, #room3Title, #room4Title, #room5Title {
    font-family: 'Spooky';
    font-size: 50px;
    color: whitesmoke;
}

#ghostDrop2{
    height: 100vh;
}

.shelf{
    width: 450px;
    position: absolute;
    margin: 0 auto;
    height: 500px;
    background-color: brown;
    border: 5px solid black;
    bottom: 80px;
}

#book1, #book2{
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 100px;
    object-fit: contain;
    display: block;
    z-index: 2;
    cursor: pointer;
}

#book1.taken, #book2.taken{
    transform: translateY(-100px);
    opacity: 0;
    transition:all
}
